<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO_QuanLyXe.Properties.Settings.QL_QuanLyXeConnectionString"
            connectionString="Data Source=LAPTOP-FUAJRQ65;Initial Catalog=QL_QuanLyXe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>